.aboutUs 
    .aboutUs--container
        .aboutUs--container__mainInfo 
            h2 О компании Bochky®
            p Bochky® — это наименование международного товарного знака и группы компаний. А ещё очень большой и дружный коллектив. Наша большая семья, объединённая одной целью: показать, что в России можно делать качественные вещи, что можно доставлять их клиенту в день, прописанный в договоре, что можно просто делать этот мир лучше, а людей чуть счастливее.
            .aboutUs--container__mainInfo--video
                 <video width="484" height="326" controls>
                    <source src="movie.mp4" type="video/mp4">
                    <source src="movie.ogg" type="video/ogg">
                    Your browser does not support the video tag.
                 </video>
        .aboutUs--container__years 
            img(src="./images/aboutUsYears.svg", alt="")
        .aboutUs--container__yearsMobile
            img(src="./images/aboutUsYearsMobile.svg", alt="")
        .aboutUs--container__massMedia 
            .aboutUs--container__massMedia--first
                img(src="./images/feedBackFirst.svg", alt="feedBackFirst")
                .aboutUs--container__massMedia--first__text
                    h4 Заголовок прессы
                    p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip...
                    .aboutUs--container__massMedia--first__text--buttonSecondary
                        include ./components/buttonSecondary
                        +buttonSecondary('На сайт издательства')
            .aboutUs--container__massMedia--first
                img(src="./images/feedBackFirst.svg", alt="feedBackFirst")
                .aboutUs--container__massMedia--first__text
                    h4 Заголовок прессы
                    p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip...
                    .aboutUs--container__massMedia--first__text--buttonSecondary
                        include ./components/buttonSecondary
                        +buttonSecondary('На сайт издательства')
            .aboutUs--container__massMedia--first
                img(src="./images/feedBackFirst.svg", alt="feedBackFirst")
                .aboutUs--container__massMedia--first__text
                    h4 Заголовок прессы
                    p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip...
                    .aboutUs--container__massMedia--first__text--buttonSecondary
                        include ./components/buttonSecondary
                        +buttonSecondary('На сайт издательства')
        .aboutUs--container__ourTeam 
            h3 Наша команда
            .aboutUs--container__ourTeam--cardsOfPPersons
                .aboutUs--container__ourTeam--cardsOfPPersons__cardOfPerson 
                    img(src="./images/Shitov.png", alt="")
                    .aboutUs--container__ourTeam--cardsOfPPersons__cardOfPerson--text 
                        h4 Шитов П.Н.
                        p Технический директор, ктн
                .aboutUs--container__ourTeam--cardsOfPPersons__cardOfPerson 
                    img(src="./images/Derkach.png", alt="")
                    .aboutUs--container__ourTeam--cardsOfPPersons__cardOfPerson--text 
                        h4 Деркач А.В.
                        p ИТ-директор
                .aboutUs--container__ourTeam--cardsOfPPersons__cardOfPerson 
                    img(src="./images/Selivanova.png", alt="")
                    .aboutUs--container__ourTeam--cardsOfPPersons__cardOfPerson--text 
                        h4 Селиванова О.В.
                        p Ведущий специалист ВЭД
                .aboutUs--container__ourTeam--cardsOfPPersons__cardOfPerson 
                    img(src="./images/Abonosimov.png", alt="")
                    .aboutUs--container__ourTeam--cardsOfPPersons__cardOfPerson--text 
                        h4 Абоносимов Д.О.
                        p Инженер по качеству
                .aboutUs--container__ourTeam--cardsOfPPersons__cardOfPerson 
                    img(src="./images/Belyakova.png", alt="")
                    .aboutUs--container__ourTeam--cardsOfPPersons__cardOfPerson--text 
                        h4 Белякова А.И.
                        p Инженер проектировщик
                .aboutUs--container__ourTeam--cardsOfPPersons__cardOfPerson 
                    img(src="./images/Grabina.png", alt="")
                    .aboutUs--container__ourTeam--cardsOfPPersons__cardOfPerson--text 
                        h4 Грабина В.Н.
                        p Помощник ГД
                .aboutUs--container__ourTeam--cardsOfPPersons__cardOfPerson 
                    img(src="./images/Markaryan.png", alt="")
                    .aboutUs--container__ourTeam--cardsOfPPersons__cardOfPerson--text 
                        h4 Маркарян Э.Б.
                        p Бригадир
                .aboutUs--container__ourTeam--cardsOfPPersons__cardOfPerson 
                    img(src="./images/Rashodtsev.png", alt="")
                    .aboutUs--container__ourTeam--cardsOfPPersons__cardOfPerson--text 
                        h4 Расходцев В.Н.
                        p Старший участка
                .aboutUs--container__ourTeam--cardsOfPPersons__cardOfPerson 
                    img(src="./images/Boboev.png", alt="")
                    .aboutUs--container__ourTeam--cardsOfPPersons__cardOfPerson--text 
                        h4 Бобоев У.К.
                        p Старший участка
                .aboutUs--container__ourTeam--cardsOfPPersons__cardOfPerson 
                    img(src="./images/AbdilUulu.png", alt="")
                    .aboutUs--container__ourTeam--cardsOfPPersons__cardOfPerson--text 
                        h4 Абдил Уулу А.
                        p Старший участка
