.application
  .application--container
    .application--container__text
      .application--container__text--blur
      .application--container__text--content
        h2 Оставляйте заявку прямо сейчас и <span style="font-weight: 700">получите в подарок</span> кресло к любой бане бочке
        p Кресло «кентукки» представляет собой складной стул-шезлонг для отдыха. Кентуккийская мебель отличается необычным дизайном, поэтому она нередко используется и для ландшафтного украшения.
        .application--container__text--content__buttonPrimary
            include ./components/buttonPrimary
            +buttonPrimary('Оставить заявку')


