.capacity
  .capacity--container 
    .capacity--container__content
      .capacity--container__content--main
        .capacity--container__content--main__text
          h2 Выберите вместимость бани бочки
          p В нашем каталоге представлены бани бочки различной вместимости, от 1-2 человек, если вы берете баню бочку для себя, и до 10 человек, когда вы хотите париться в большой компании.
        .capacity--container__content--main__containerButton
          include ./components/buttonSecondary
          +buttonSecondary('Перейти в каталог')
      .capacity--container__content--cards 
        .capacity--container__content--cards__bathhouseBarrel
          img(src="./images/forSelfImg.png" alt="bathhouseBarrel")
          .capacity--container__content--cards__bathhouseBarrel--text
            h4 Для себя
            img(src="./images/forSelf.svg" alt="")
        .capacity--container__content--cards__grillHouse
          img(src="./images/forFamilyImg.png" alt="grillHouse")
          .capacity--container__content--cards__grillHouse--text
            h4 Для семьи
            img(src="./images/forFamily.svg" alt="")
        .capacity--container__content--cards__kempings
          img(src="./images/forCompanyImg.png" alt="kempings")
          .capacity--container__content--cards__kempings--text
            h4 Для компании
            img(src="./images/forCompany.svg" alt="")
