.cardProduct 
  .cardProduct--mainDescription
    .cardProduct--mainDescription__container 
      .cardProduct--mainDescription__container--mobile 
        h2.mobileStyle Баня-бочка «ДУО»
      .cardProduct--mainDescription__container--images 
        .swiper.swiperGood2(style="--swiper-navigation-color: #fff; --swiper-pagination-color: #fff")
          div.swiper-wrapper
            div.swiper-slide
              img(src="https://swiperjs.com/demos/images/nature-1.jpg")
            div.swiper-slide
              img(src="https://swiperjs.com/demos/images/nature-2.jpg")
            div.swiper-slide
              img(src="https://swiperjs.com/demos/images/nature-3.jpg")
            div.swiper-slide
              img(src="https://swiperjs.com/demos/images/nature-1.jpg")
            div.swiper-slide
              img(src="https://swiperjs.com/demos/images/nature-2.jpg")
            div.swiper-slide
              img(src="https://swiperjs.com/demos/images/nature-3.jpg")
          //- <div class="swiper-button-next"></div>
          //- <div class="swiper-button-prev"></div>
        .swiper.swiperGood
          div.swiper-wrapper
            div.swiper-slide
              img(src="https://swiperjs.com/demos/images/nature-1.jpg")
            div.swiper-slide
              img(src="https://swiperjs.com/demos/images/nature-2.jpg")
            div.swiper-slide
              img(src="https://swiperjs.com/demos/images/nature-3.jpg")
            div.swiper-slide
              img(src="https://swiperjs.com/demos/images/nature-1.jpg")
            div.swiper-slide
              img(src="https://swiperjs.com/demos/images/nature-2.jpg")
            div.swiper-slide
              img(src="https://swiperjs.com/demos/images/nature-3.jpg")

      .cardProduct--mainDescription__container--text
        h2.desctopStyle Баня-бочка «ДУО»
        p.mainDescription Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim.
        h5 Выберите комплектацию:
        .cardProduct--mainDescription__container--text__buttons 
          include ./components/buttonQuaternary
          +buttonQuaternary('Стандарт')
          include ./components/buttonTertiary
          +buttonTertiary('Эко')
          include ./components/buttonTertiary
          +buttonTertiary('Индивидуальная')
        p.bold Изготавливается из ели или кедра 42х92 мм, имеет стандартную комплектацию.
        .cardProduct--mainDescription__container--text__priceContainer 
          h4 133 990 ₽
          .cardProduct--mainDescription__container--text__priceContainer--buttonContainer
            include ./components/buttonSecondary
            +buttonSecondary('Заказать')


  .cardProduct--accordionDescription
    h3 Описание
    .questions--container__accordion
      .questions--container__accordion--main
        .questions--container__accordion--main__item
          h2.accordion-header Каркас
          img(src="./images/arrow1.png" alt="").accordion-icon
        p.accordion-content • Еловый или кедровый профиль толщиной 42х92 мм, влажностью 10%; 
        p.accordion-content • Основание под баню (деревянные ножки);
        p.accordion-content • Обручи из нержавеющей стали с замками;
        p.accordion-content • Внешняя обработка антисептиком в один слой (при поставке изделия в готовом виде или со сборкой на участке).
      .questions--container__accordion--main
        .questions--container__accordion--main__item
          h2.accordion-header Кровля
          img(src="./images/arrow1.png" alt="").accordion-icon
        p.accordion-content TEXT2

      .questions--container__accordion--main
        .questions--container__accordion--main__item
          h2.accordion-header Двери
          img(src="./images/arrow1.png" alt="").accordion-icon
        p.accordion-content TEXT3

      .questions--container__accordion--main
        .questions--container__accordion--main__item
          h2.accordion-header Парное отделение
          img(src="./images/arrow1.png" alt="").accordion-icon
        p.accordion-content TEXT4

      .questions--container__accordion--main
        .questions--container__accordion--main__item
          h2.accordion-header Чертеж
          img(src="./images/arrow1.png" alt="").accordion-icon
        p.accordion-content TEXT5

      .questions--container__accordion--main
        .questions--container__accordion--main__item
          h2.accordion-header Каркас
          img(src="./images/arrow1.png" alt="").accordion-icon
        p.accordion-content Еловый или кедровый профиль толщиной 42х92 мм, влажностью 10%;
        //- p.accordion-content Основание под баню (деревянные ножки);
        //- p.accordion-content Обручи из нержавеющей стали с замками;
        //- p.accordion-content Внешняя обработка антисептиком в один слой (при поставке изделия в готовом виде или со сборкой на участке).

  .cardProduct--characteristicsDescription
    h3 Характеристики
    .cardProduct--characteristicsDescription__text 
      .cardProduct--characteristicsDescription__text--firstContainer 
        .cardProduct--characteristicsDescription__text--firstContainer__string
          p.gray Кол-во секций
          img(src="/images/Line 9.svg" alt="").line1
          p.gray 2

        .cardProduct--characteristicsDescription__text--firstContainer__string
          p.gray ДхШхВ
          img(src="/images/Line 10.svg" alt="").line1
          p.gray 2000х1000х2000
        .cardProduct--characteristicsDescription__text--firstContainer__string
          p.gray Диаметр
          img(src="/images/Line 11.svg" alt="").line1
          p.gray 2.0
      .cardProduct--characteristicsDescription__text--secondContainer 
        .cardProduct--characteristicsDescription__text--secondContainer__string
          p.gray Вместимость
          img(src="/images/Line 12.svg" alt="").line1
          p.gray 2 человека
        .cardProduct--characteristicsDescription__text--secondContainer__string
          p.gray Вес
          img(src="/images/Line 13.svg" alt="").line1
          p.gray 370 кг


