.cardsOfProducts
  .cardsOfProducts--container 
    .cardsOfProducts--container__content
      .cardsOfProducts--container__content--main
        .cardsOfProducts--container__content--main__text
          h2 Бани бочки
          p Мы подобрали бани бочки по параметрам, выбранными вами. Если вы хотите видеть другие бани бочки, то можете воспользоваться фильтрацией ниже.

        .cardsOfProducts--container__content--main__sorting 
          .cardsOfProducts--container__content--main__sorting--container
            include ./components/buttonSecondary
            +buttonSecondary('Все модели')
            include ./components/buttonTertiary
            +buttonTertiary('Для себя')
            include ./components/buttonTertiary
            +buttonTertiary('Для семьи')
            include ./components/buttonTertiary
            +buttonTertiary('Для большой компании')
          .cardsOfProducts--container__content--main__sorting--select
              select.box
                  option Вариант 1
                  option Вариант 2
                  option Вариант 3
                  option(selected) Все форматы
                  
      .cardsOfProducts--container__content--cards 
        .cardsOfProducts--container__content--cards__card
          img(src="./images/forFamilyImg.png" alt="bathhouseBarrel").mainImg
          .cardsOfProducts--container__content--cards__card--text
            h4 Баня-бочка «ДУО»
            .cardsOfProducts--container__content--cards__card--text__firstString
              p.gray Кол-во секций
              img(src="./images/Line 1.svg", alt="").line1
              p.gray 2

            .cardsOfProducts--container__content--cards__card--text__firstString
              p.gray ДхШхВ
              img(src="./images/Line 2.svg", alt="").line2
              p.gray 2000х1000х2000

            .cardsOfProducts--container__content--cards__card--text__thirdString
              p.gray Вместимость
              img(src="./images/Line 3.svg", alt="").line3
              p.gray 2 человека

            h2.priceStyle От 133 990 ₽

            .cardsOfProducts--container__content--cards__card--text__startPrice
              h3.startPriceStyle Вариант Эко от 107 990 ₽
              img(src="./images/iconQuest.svg", alt="Тултип", title="Описание термина").questionIcon
               
        .cardsOfProducts--container__content--cards__card
          img(src="./images/forFamilyImg.png" alt="bathhouseBarrel").mainImg
          .cardsOfProducts--container__content--cards__card--text
            h4 Баня-бочка «ДУО»
            .cardsOfProducts--container__content--cards__card--text__firstString
              p.gray Кол-во секций
              img(src="./images/Line 1.svg", alt="").line1
              p.gray 2

            .cardsOfProducts--container__content--cards__card--text__firstString
              p.gray ДхШхВ
              img(src="./images/Line 2.svg", alt="").line2
              p.gray 2000х1000х2000

            .cardsOfProducts--container__content--cards__card--text__thirdString
              p.gray Вместимость
              img(src="./images/Line 3.svg", alt="").line3
              p.gray 2 человека

            h2.priceStyle От 133 990 ₽

            .cardsOfProducts--container__content--cards__card--text__startPrice
              h3.startPriceStyle Вариант Эко от 107 990 ₽
              img(src="./images/iconQuest.svg", alt="Тултип", title="Описание термина").questionIcon

        .cardsOfProducts--container__content--cards__card
          img(src="./images/forFamilyImg.png" alt="bathhouseBarrel").mainImg
          .cardsOfProducts--container__content--cards__card--text
            h4 Баня-бочка «ДУО»
            .cardsOfProducts--container__content--cards__card--text__firstString
              p.gray Кол-во секций
              img(src="./images/Line 1.svg", alt="").line1
              p.gray 2

            .cardsOfProducts--container__content--cards__card--text__firstString
              p.gray ДхШхВ
              img(src="./images/Line 2.svg", alt="").line2
              p.gray 2000х1000х2000

            .cardsOfProducts--container__content--cards__card--text__thirdString
              p.gray Вместимость
              img(src="./images/Line 3.svg", alt="").line3
              p.gray 2 человека

            h2.priceStyle От 133 990 ₽

            .cardsOfProducts--container__content--cards__card--text__startPrice
              h3.startPriceStyle Вариант Эко от 107 990 ₽
              img(src="/images/iconQuest.svg", alt="Тултип", title="Описание термина").questionIcon

        .cardsOfProducts--container__content--cards__card
          img(src="./images/forFamilyImg.png" alt="bathhouseBarrel").mainImg
          .cardsOfProducts--container__content--cards__card--text
            h4 Баня-бочка «ДУО»
            .cardsOfProducts--container__content--cards__card--text__firstString
              p.gray Кол-во секций
              img(src="./images/Line 1.svg", alt="").line1
              p.gray 2

            .cardsOfProducts--container__content--cards__card--text__firstString
              p.gray ДхШхВ
              img(src="./images/Line 2.svg", alt="").line2
              p.gray 2000х1000х2000

            .cardsOfProducts--container__content--cards__card--text__thirdString
              p.gray Вместимость
              img(src="./images/Line 3.svg", alt="").line3
              p.gray 2 человека

            h2.priceStyle От 133 990 ₽

            .cardsOfProducts--container__content--cards__card--text__startPrice
              h3.startPriceStyle Вариант Эко от 107 990 ₽
              img(src="./images/iconQuest.svg", alt="Тултип", title="Описание термина").questionIcon

        .cardsOfProducts--container__content--cards__card
          img(src="./images/forFamilyImg.png" alt="bathhouseBarrel").mainImg
          .cardsOfProducts--container__content--cards__card--text
            h4 Баня-бочка «ДУО»
            .cardsOfProducts--container__content--cards__card--text__firstString
              p.gray Кол-во секций
              img(src="./images/Line 1.svg", alt="").line1
              p.gray 2

            .cardsOfProducts--container__content--cards__card--text__firstString
              p.gray ДхШхВ
              img(src="./images/Line 2.svg", alt="").line2
              p.gray 2000х1000х2000

            .cardsOfProducts--container__content--cards__card--text__thirdString
              p.gray Вместимость
              img(src="./images/Line 3.svg", alt="").line3
              p.gray 2 человека

            h2.priceStyle От 133 990 ₽

            .cardsOfProducts--container__content--cards__card--text__startPrice
              h3.startPriceStyle Вариант Эко от 107 990 ₽
              img(src="./images/iconQuest.svg", alt="Тултип", title="Описание термина").questionIcon

        .cardsOfProducts--container__content--cards__card
          img(src="./images/forFamilyImg.png" alt="bathhouseBarrel").mainImg
          .cardsOfProducts--container__content--cards__card--text
            h4 Баня-бочка «ДУО»
            .cardsOfProducts--container__content--cards__card--text__firstString
              p.gray Кол-во секций
              img(src="./images/Line 1.svg", alt="").line1
              p.gray 2

            .cardsOfProducts--container__content--cards__card--text__firstString
              p.gray ДхШхВ
              img(src="./images/Line 2.svg", alt="").line2
              p.gray 2000х1000х2000

            .cardsOfProducts--container__content--cards__card--text__thirdString
              p.gray Вместимость
              img(src="./images/Line 3.svg", alt="").line3
              p.gray 2 человека

            h2.priceStyle От 133 990 ₽

            .cardsOfProducts--container__content--cards__card--text__startPrice
              h3.startPriceStyle Вариант Эко от 107 990 ₽
              img(src="./images/iconQuest.svg", alt="Тултип", title="Описание термина").questionIcon

        .cardsOfProducts--container__content--cards__card
          img(src="./images/forFamilyImg.png" alt="bathhouseBarrel").mainImg
          .cardsOfProducts--container__content--cards__card--text
            h4 Баня-бочка «ДУО»
            .cardsOfProducts--container__content--cards__card--text__firstString
              p.gray Кол-во секций
              img(src="./images/Line 1.svg", alt="").line1
              p.gray 2

            .cardsOfProducts--container__content--cards__card--text__firstString
              p.gray ДхШхВ
              img(src="./images/Line 2.svg", alt="").line2
              p.gray 2000х1000х2000

            .cardsOfProducts--container__content--cards__card--text__thirdString
              p.gray Вместимость
              img(src="./images/Line 3.svg", alt="").line3
              p.gray 2 человека

            h2.priceStyle От 133 990 ₽

            .cardsOfProducts--container__content--cards__card--text__startPrice
              h3.startPriceStyle Вариант Эко от 107 990 ₽
              img(src="./images/iconQuest.svg", alt="Тултип", title="Описание термина").questionIcon

        .cardsOfProducts--container__content--cards__card
          img(src="./images/forFamilyImg.png" alt="bathhouseBarrel").mainImg
          .cardsOfProducts--container__content--cards__card--text
            h4 Баня-бочка «ДУО»
            .cardsOfProducts--container__content--cards__card--text__firstString
              p.gray Кол-во секций
              img(src="./images/Line 1.svg", alt="").line1
              p.gray 2

            .cardsOfProducts--container__content--cards__card--text__firstString
              p.gray ДхШхВ
              img(src="./images/Line 2.svg", alt="").line2
              p.gray 2000х1000х2000

            .cardsOfProducts--container__content--cards__card--text__thirdString
              p.gray Вместимость
              img(src="./images/Line 3.svg", alt="").line3
              p.gray 2 человека

            h2.priceStyle От 133 990 ₽

            .cardsOfProducts--container__content--cards__card--text__startPrice
              h3.startPriceStyle Вариант Эко от 107 990 ₽
              img(src="./images/iconQuest.svg", alt="Тултип", title="Описание термина").questionIcon

        .cardsOfProducts--container__content--cards__card
          img(src="./images/forFamilyImg.png" alt="bathhouseBarrel").mainImg
          .cardsOfProducts--container__content--cards__card--text
            h4 Баня-бочка «ДУО»
            .cardsOfProducts--container__content--cards__card--text__firstString
              p.gray Кол-во секций
              img(src="./images/Line 1.svg", alt="").line1
              p.gray 2

            .cardsOfProducts--container__content--cards__card--text__firstString
              p.gray ДхШхВ
              img(src="./images/Line 2.svg", alt="").line2
              p.gray 2000х1000х2000

            .cardsOfProducts--container__content--cards__card--text__thirdString
              p.gray Вместимость
              img(src="./images/Line 3.svg", alt="").line3
              p.gray 2 человека

            h2.priceStyle От 133 990 ₽

            .cardsOfProducts--container__content--cards__card--text__startPrice
              h3.startPriceStyle Вариант Эко от 107 990 ₽
              img(src="./images/iconQuest.svg", alt="Тултип", title="Описание термина").questionIcon
