.careService
  .careServiceContainer 
    h2 Служба заботы
    p Компания Bochky стремиться сделать удобный сервис для своих клиентов, поэтому мы создали для наших клиентов раздел «Служба заботы», в котором вы найдёте ответы на часто задаваемые вопросы или свяжетесь с нами.
    .careServiceContainer--cardsContainer 
      .careServiceContainer--cardsContainer__firstRow
        .careServiceContainer--cardsContainer__firstRow--cardS
          h3 FAQ
        .careServiceContainer--cardsContainer__firstRow--cardM
          h3 Сертификаты качества
      .careServiceContainer--cardsContainer__firstRow
        .careServiceContainer--cardsContainer__firstRow--cardS
          h3 Задать вопрос
        .careServiceContainer--cardsContainer__firstRow--cardM
          h3 Наши контакты
      .careServiceContainer--cardsContainer__secondRow--cardL
        h3 Гарантийное обслуживание

    .careServiceContainer--cardsContainerMobile 
      .careServiceContainer--cardsContainerMobile__firstRow 
        img(src="/images/csm1.svg" alt="")
        img(src="/images/csm2.svg" alt="")
      .careServiceContainer--cardsContainerMobile__secondRow 
        img(src="/images/csm3.svg" alt="")
      .careServiceContainer--cardsContainerMobile__thirdRow 
        img(src="/images/csm4.svg" alt="")
        img(src="/images/csm5.svg" alt="")
