.swiper.carusel
  .swiper-wrapper
    .swiper-slide 
      .caruselContainer
        img(src="./images/slide1.png" alt="slide1") 
    .swiper-slide 
      .caruselContainer
        img(src="./images/slide1.png" alt="slide1")
    .swiper-slide 
      .caruselContainer
        img(src="./images/slide1.png" alt="slide1")
    .swiper-slide 
      .caruselContainer
        img(src="./images/slide1.png" alt="slide1")
    .swiper-slide 
      .caruselContainer
        img(src="./images/slide1.png" alt="slide1")
    .swiper-slide 
      .caruselContainer
        img(src="./images/slide1.png" alt="slide1") 
    .swiper-slide 
      .caruselContainer
        img(src="./images/slide1.png" alt="slide1")
    .swiper-slide 
      .caruselContainer
        img(src="./images/slide1.png" alt="slide1")
    .swiper-slide 
      .caruselContainer
        img(src="./images/slide1.png" alt="slide1")
    .swiper-slide 
      .caruselContainer
        img(src="./images/slide1.png" alt="slide1")
    .swiper-slide 
      .caruselContainer
        img(src="./images/slide1.png" alt="slide1") 
    .swiper-slide 
      .caruselContainer
        img(src="./images/slide1.png" alt="slide1")
    .swiper-slide 
      .caruselContainer
        img(src="./images/slide1.png" alt="slide1")
    .swiper-slide 
      .caruselContainer
        img(src="./images/slide1.png" alt="slide1")
    .swiper-slide 
      .caruselContainer
        img(src="./images/slide1.png" alt="slide1")
    .swiper-slide 
      .caruselContainer
        img(src="./images/slide1.png" alt="slide1") 
    .swiper-slide 
      .caruselContainer
        img(src="./images/slide1.png" alt="slide1")
    .swiper-slide 
      .caruselContainer
        img(src="./images/slide1.png" alt="slide1")
    .swiper-slide 
      .caruselContainer
        img(src="./images/slide1.png" alt="slide1")
    .swiper-slide 
      .caruselContainer
        img(src="./images/slide1.png" alt="slide1")
  .caruselPaginationContainer
    .swiper-pagination