.swiper.caruselGoods
  .swiper-wrapper
    .swiper-slide 
      .caruselContainer
        .caruselContainer--card
          img(src="./images/forFamilyImg.png" alt="bathhouseBarrel").mainImg
          .caruselContainer--card__text
            h4 Баня-бочка «ДУО»
            .caruselContainer--card__text--firstString
              p.gray Кол-во секций
              img(src="./images/Line 1.svg", alt="").line1
              p.gray 2

            .caruselContainer--card__text--firstString
              p.gray ДхШхВ
              img(src="./images/Line 2.svg", alt="").line2
              p.gray 2000х1000х2000

            .caruselContainer--card__text--firstString
              p.gray Вместимость
              img(src="./images/Line 3.svg", alt="").line3
              p.gray 2 человека

            h2.priceStyle От 133 990 ₽

            .caruselContainer--card__text--startPrice
              h3.startPriceStyle Вариант Эко от 107 990 ₽
              img(src="./images/iconQuest.svg", alt="Тултип", title="Описание термина").questionIcon

    .swiper-slide 
      .caruselContainer
        .caruselContainer--card
          img(src="./images/forFamilyImg.png" alt="bathhouseBarrel").mainImg
          .caruselContainer--card__text
            h4 Баня-бочка «ДУО»
            .caruselContainer--card__text--firstString
              p.gray Кол-во секций
              img(src="./images/Line 1.svg", alt="").line1
              p.gray 2

            .caruselContainer--card__text--firstString
              p.gray ДхШхВ
              img(src="./images/Line 2.svg", alt="").line2
              p.gray 2000х1000х2000

            .caruselContainer--card__text--firstString
              p.gray Вместимость
              img(src="./images/Line 3.svg", alt="").line3
              p.gray 2 человека

            h2.priceStyle От 133 990 ₽

            .caruselContainer--card__text--startPrice
              h3.startPriceStyle Вариант Эко от 107 990 ₽
              img(src="./images/iconQuest.svg", alt="Тултип", title="Описание термина").questionIcon

    .swiper-slide 
      .caruselContainer
        .caruselContainer--card
          img(src="./images/forFamilyImg.png" alt="bathhouseBarrel").mainImg
          .caruselContainer--card__text
            h4 Баня-бочка «ДУО»
            .caruselContainer--card__text--firstString
              p.gray Кол-во секций
              img(src="./images/Line 1.svg", alt="").line1
              p.gray 2

            .caruselContainer--card__text--firstString
              p.gray ДхШхВ
              img(src="./images/Line 2.svg", alt="").line2
              p.gray 2000х1000х2000

            .caruselContainer--card__text--firstString
              p.gray Вместимость
              img(src="./images/Line 3.svg", alt="").line3
              p.gray 2 человека

            h2.priceStyle От 133 990 ₽

            .caruselContainer--card__text--startPrice
              h3.startPriceStyle Вариант Эко от 107 990 ₽
              img(src="./images/iconQuest.svg", alt="Тултип", title="Описание термина").questionIcon

    .swiper-slide 
      .caruselContainer
        .caruselContainer--card
          img(src="./images/forFamilyImg.png" alt="bathhouseBarrel").mainImg
          .caruselContainer--card__text
            h4 Баня-бочка «ДУО»
            .caruselContainer--card__text--firstString
              p.gray Кол-во секций
              img(src="./images/Line 1.svg", alt="").line1
              p.gray 2

            .caruselContainer--card__text--firstString
              p.gray ДхШхВ
              img(src="./images/Line 2.svg", alt="").line2
              p.gray 2000х1000х2000

            .caruselContainer--card__text--firstString
              p.gray Вместимость
              img(src="./images/Line 3.svg", alt="").line3
              p.gray 2 человека

            h2.priceStyle От 133 990 ₽

            .caruselContainer--card__text--startPrice
              h3.startPriceStyle Вариант Эко от 107 990 ₽
              img(src="./images/iconQuest.svg", alt="Тултип", title="Описание термина").questionIcon

    .swiper-slide 
      .caruselContainer
        .caruselContainer--card
          img(src="./images/forFamilyImg.png" alt="bathhouseBarrel").mainImg
          .caruselContainer--card__text
            h4 Баня-бочка «ДУО»
            .caruselContainer--card__text--firstString
              p.gray Кол-во секций
              img(src="./images/Line 1.svg", alt="").line1
              p.gray 2

            .caruselContainer--card__text--firstString
              p.gray ДхШхВ
              img(src="./images/Line 2.svg", alt="").line2
              p.gray 2000х1000х2000

            .caruselContainer--card__text--firstString
              p.gray Вместимость
              img(src="./images/Line 3.svg", alt="").line3
              p.gray 2 человека

            h2.priceStyle От 133 990 ₽

            .caruselContainer--card__text--startPrice
              h3.startPriceStyle Вариант Эко от 107 990 ₽
              img(src="./images/iconQuest.svg", alt="Тултип", title="Описание термина").questionIcon

    .swiper-slide 
      .caruselContainer
        .caruselContainer--card
          img(src="./images/forFamilyImg.png" alt="bathhouseBarrel").mainImg
          .caruselContainer--card__text
            h4 Баня-бочка «ДУО»
            .caruselContainer--card__text--firstString
              p.gray Кол-во секций
              img(src="./images/Line 1.svg", alt="").line1
              p.gray 2

            .caruselContainer--card__text--firstString
              p.gray ДхШхВ
              img(src="./images/Line 2.svg", alt="").line2
              p.gray 2000х1000х2000

            .caruselContainer--card__text--firstString
              p.gray Вместимость
              img(src="./images/Line 3.svg", alt="").line3
              p.gray 2 человека

            h2.priceStyle От 133 990 ₽

            .caruselContainer--card__text--startPrice
              h3.startPriceStyle Вариант Эко от 107 990 ₽
              img(src="./images/iconQuest.svg", alt="Тултип", title="Описание термина").questionIcon

    .swiper-slide 
      .caruselContainer
        .caruselContainer--card
          img(src="./images/forFamilyImg.png" alt="bathhouseBarrel").mainImg
          .caruselContainer--card__text
            h4 Баня-бочка «ДУО»
            .caruselContainer--card__text--firstString
              p.gray Кол-во секций
              img(src="./images/Line 1.svg", alt="").line1
              p.gray 2

            .caruselContainer--card__text--firstString
              p.gray ДхШхВ
              img(src="./images/Line 2.svg", alt="").line2
              p.gray 2000х1000х2000

            .caruselContainer--card__text--firstString
              p.gray Вместимость
              img(src="./images/Line 3.svg", alt="").line3
              p.gray 2 человека

            h2.priceStyle От 133 990 ₽

            .caruselContainer--card__text--startPrice
              h3.startPriceStyle Вариант Эко от 107 990 ₽
              img(src="./images/iconQuest.svg", alt="Тултип", title="Описание термина").questionIcon

    .swiper-slide 
      .caruselContainer
        .caruselContainer--card
          img(src="./images/forFamilyImg.png" alt="bathhouseBarrel").mainImg
          .caruselContainer--card__text
            h4 Баня-бочка «ДУО»
            .caruselContainer--card__text--firstString
              p.gray Кол-во секций
              img(src="./images/Line 1.svg", alt="").line1
              p.gray 2

            .caruselContainer--card__text--firstString
              p.gray ДхШхВ
              img(src="./images/Line 2.svg", alt="").line2
              p.gray 2000х1000х2000

            .caruselContainer--card__text--firstString
              p.gray Вместимость
              img(src="./images/Line 3.svg", alt="").line3
              p.gray 2 человека

            h2.priceStyle От 133 990 ₽

            .caruselContainer--card__text--startPrice
              h3.startPriceStyle Вариант Эко от 107 990 ₽
              img(src="./images/iconQuest.svg", alt="Тултип", title="Описание термина").questionIcon

