.chooseForm
  .chooseForm--container 
    .chooseForm--container__content
      .capchooseFormacity--container__content--main
        .chooseForm--container__content--main__text
          h2 Выберите форму бани бочки
          p  Вы можете выбрать форм-фактор вашей будущей бани бочки, в каталоге представлено множество форматов, начиная от классической круглой бани бочки и заканчивая новейшей разработкой – баней «Европа».
      .chooseForm--container__content--cards 

        .chooseForm--container__content--cards__one
          img(src="./images/forSelfImgSmall.png" alt="")
          .chooseForm--container__content--cards__one--text
            h4.textStyle Круглая
            img(src="./images/107990.svg" alt="").imgStyle

        .chooseForm--container__content--cards__two
          img(src="./images/forFamilyImg.png" alt="")
          .chooseForm--container__content--cards__two--text
            h4.textStyle Квадратная
            img(src="./images/137990.svg" alt="").imgStyle

        .chooseForm--container__content--cards__three
          img(src="./images/forCompanyImg.png" alt="")
          .chooseForm--container__content--cards__three--text
            h4.textStyle Квадратная XL
            img(src="./images/190990.svg" alt="").imgStyle

        .chooseForm--container__content--cards__four
          img(src="./images/forSelfImgSmall.png" alt="")
          .chooseForm--container__content--cards__four--text
            h4.textStyle Окта-баня
            img(src="./images/153990.svg" alt="").imgStyle

        .chooseForm--container__content--cards__five
          img(src="./images/forFamilyImg.png" alt="")
          .chooseForm--container__content--cards__five--text
            h4.textStyle Хилл-хаус
            img(src="./images/518990.svg" alt="").imgStyle

        .chooseForm--container__content--cards__six
          img(src="./images/forCompanyImg.png" alt="")
          .chooseForm--container__content--cards__six--text
            h4.textStyle Овальная
            img(src="./images/271990.svg" alt="").imgStyle

        //- .chooseForm--container__content--cards__seven
        //-   img(src="./images/forSelfImgBig.png" alt="")
        //-   .chooseForm--container__content--cards__seven--text
        //-     h4.textStyle Квадро-овальная
        //-     img(src="./images/298990.svg" alt="").imgStyle
          
        //- .chooseForm--container__content--cards__eight
        //-   img(src="./images/forSelfImgBig.png" alt="")
        //-   .chooseForm--container__content--cards__eight--text
        //-     h4.textStyle Европа
        //-     img(src="./images/848800.svg" alt="").imgStyle
