.contacts
    .contactsContainer 
        .contactsContainer--leftContainer 
                h2 Контакты
                p Свяжитесь с нами любым удобным для вас способом.
                .contactsContainer--leftContainer__icons 
                    .contactsContainer--leftContainer__icons--icon 
                        img(src="./images/telephone.png", alt="")
                        .contactsContainer--leftContainer__icons--icon__text 
                            h5 +7 (495) 517-21-36
                            p Ежедневно 13:00 — 21:00
                    .contactsContainer--leftContainer__icons--icon 
                        img(src="./images/email.png", alt="")
                        .contactsContainer--leftContainer__icons--icon__text 
                            h5 sale@bochky.ru
                            p Техническая поддержка
                    .contactsContainer--leftContainer__icons--icon 
                        img(src="./images/adress.png", alt="")
                        .contactsContainer--leftContainer__icons--icon__text 
                            h5 X-выставочных площадок
                            p Выберите дилера на карте
        .contactsContainer--rightContainer 
            img(src="./images/map2.png", alt="")
