.dillers
    .dillersContainer
        h2 Дилеры
        .dillersContainer--textAndSelector
            p Наши выставочные площадки расположены в Х городах России, а так же в 11 странах мира.
            .dillersContainer--textAndSelector__selectContainer
                .dillersContainer--textAndSelector__selectContainer--select
                    select.box
                        option Вариант 1
                        option Вариант 2
                        option Вариант 3
                        option(selected) Выберите регион
                .dillersContainer--textAndSelector__selectContainer--selectPassive
                    select(disabled).box
                        option Вариант 1
                        option Вариант 2
                        option Вариант 3
                        option(selected) Выберите дилера

        img(src="./images/map.svg", alt="")
        .dillersContainer--countries 
            h3 Представители в мире
            .dillersContainer--countries__countriesContainer 
                .dillersContainer--countries__countriesContainer--content 
                    img(src="./images/germany.png", alt="")
                    p Германия
                .dillersContainer--countries__countriesContainer--content 
                    img(src="./images/czech republic.png", alt="")
                    p Чехия
                .dillersContainer--countries__countriesContainer--content 
                    img(src="./images/united states.png", alt="")
                    p США
                .dillersContainer--countries__countriesContainer--content 
                    img(src="./images/canada.png", alt="")
                    p Канада
                .dillersContainer--countries__countriesContainer--content 
                    img(src="./images/latvia.png", alt="")
                    p Латвия
                .dillersContainer--countries__countriesContainer--content 
                    img(src="./images/belarus.png", alt="")
                    p Беларусь
                .dillersContainer--countries__countriesContainer--content 
                    img(src="./images/moldova.png", alt="")
                    p Молдова
                .dillersContainer--countries__countriesContainer--content 
                    img(src="./images/georgia.png", alt="")
                    p Грузия
