.feetbackCatalog 
    .feetbackCatalog--container 
        //- .feetbackCatalog--container__header
        //-     h1 Все отзывы
        //-     p Здесь вы можете почитать отзывы наших клиентов, узнать их интересные идеи.
        .feetbackCatalog--container__first
            .feetbackCatalog--container__first--text 
                h2 Заголовок первого отзыва
                p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                br
                p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco, Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco

            .feetbackCatalog--container__first--video
                <video width="484" height="326" controls>
                    <source src="movie.mp4" type="video/mp4">
                    <source src="movie.ogg" type="video/ogg">
                    Your browser does not support the video tag.
                </video>
    .feetbackCatalog--containerCarusel
        include ./carusel
    .feetbackCatalog--container
        .feetbackCatalog--container__goods
            .feetbackCatalog--container__goods--header 
                h2 Продукция из отзыва
            .feetbackCatalog--container__goods--items
                .cardsOfProducts
                    .cardsOfProducts--container 
                        .cardsOfProducts--container__content  
                            .cardsOfProducts--container__content--cards 
                                .cardsOfProducts--container__content--cards__card
                                    img(src="./images/forFamilyImg.png" alt="bathhouseBarrel").mainImg
                                    .cardsOfProducts--container__content--cards__card--text
                                        h4 Баня-бочка «ДУО»
                                        .cardsOfProducts--container__content--cards__card--text__firstString
                                            p.gray Кол-во секций
                                            img(src="/images/Line 1.svg" alt="").line1
                                            p.gray 2

                                        .cardsOfProducts--container__content--cards__card--text__firstString
                                            p.gray ДхШхВ
                                            img(src="/images/Line 2.svg" alt="").line2
                                            p.gray 2000х1000х2000

                                        .cardsOfProducts--container__content--cards__card--text__thirdString
                                            p.gray Вместимость
                                            img(src="/images/Line 3.svg" alt="").line3
                                            p.gray 2 человека

                                        h2.priceStyle От 133 990 ₽

                                        .cardsOfProducts--container__content--cards__card--text__startPrice
                                            h3.startPriceStyle Вариант Эко от 107 990 ₽
                                            img(src="/images/iconQuest.svg" alt="Тултип" title="Описание термина").questionIcon
                                .cardsOfProducts--container__content--cards__card
                                    img(src="./images/forFamilyImg.png" alt="bathhouseBarrel").mainImg
                                    .cardsOfProducts--container__content--cards__card--text
                                        h4 Баня-бочка «ДУО»
                                        .cardsOfProducts--container__content--cards__card--text__firstString
                                            p.gray Кол-во секций
                                            img(src="/images/Line 1.svg" alt="").line1
                                            p.gray 2

                                        .cardsOfProducts--container__content--cards__card--text__firstString
                                            p.gray ДхШхВ
                                            img(src="/images/Line 2.svg" alt="").line2
                                            p.gray 2000х1000х2000

                                        .cardsOfProducts--container__content--cards__card--text__thirdString
                                            p.gray Вместимость
                                            img(src="/images/Line 3.svg" alt="").line3
                                            p.gray 2 человека

                                        h2.priceStyle От 133 990 ₽

                                        .cardsOfProducts--container__content--cards__card--text__startPrice
                                            h3.startPriceStyle Вариант Эко от 107 990 ₽
                                            img(src="/images/iconQuest.svg" alt="Тултип" title="Описание термина").questionIcon
                                .cardsOfProducts--container__content--cards__card
                                    img(src="./images/forFamilyImg.png" alt="bathhouseBarrel").mainImg
                                    .cardsOfProducts--container__content--cards__card--text
                                        h4 Баня-бочка «ДУО»
                                        .cardsOfProducts--container__content--cards__card--text__firstString
                                            p.gray Кол-во секций
                                            img(src="/images/Line 1.svg" alt="").line1
                                            p.gray 2

                                        .cardsOfProducts--container__content--cards__card--text__firstString
                                            p.gray ДхШхВ
                                            img(src="/images/Line 2.svg" alt="").line2
                                            p.gray 2000х1000х2000

                                        .cardsOfProducts--container__content--cards__card--text__thirdString
                                            p.gray Вместимость
                                            img(src="/images/Line 3.svg" alt="").line3
                                            p.gray 2 человека

                                        h2.priceStyle От 133 990 ₽

                                        .cardsOfProducts--container__content--cards__card--text__startPrice
                                            h3.startPriceStyle Вариант Эко от 107 990 ₽
                                            img(src="/images/iconQuest.svg" alt="Тултип" title="Описание термина").questionIcon
