.footerBottom
 .footerBottom--container
  .footerBottom--container__first
    .footerBottom--container__first--info
      img(src="./images/logo2.svg", alt="")
      h4 Группа компаний Bochky®
      p Собственное производство бань-бочек, дачных домов, гриль домиков, беседок и других архитектурных форм.
      .footerBottom--container__first--info__messengers 
        img(src="./images/telegramIcon.png", alt="")
        img(src="./images/vkIcon.png", alt="")
        img(src="./images/ytIcon.png", alt="")
    .footerBottom--container__first--listContainer
      .footerBottom--container__first--listContainer__company 
        h4 Компания
        ul 
          li
            a(href="#") Продукция
          li
            a(href="#") О нас
          li
            a(href="#") Отзывы
          li
            a(href="#") Доставка и отлата
          li
            a(href="#") Вдохновение
          li
            a(href="#") Полезности
          li
            a(href="#") Контакты
      .footerBottom--container__first--listContainer__catalog 
        h4 Каталог
        ul 
          li
            a(href="#") Бани бочки 
          li
            a(href="#") Домики гриль
          li
            a(href="#") Кемпинги
          li
            a(href="#") Купели
          li
            a(href="#") Аксессуары
          li
            a(href="#") Садовая мебель
        
      .footerBottom--container__first--listContainer__contacts
        h4 Контакты
        ul 
          li
            a(href="tel:+7(999)999-99-99") +7 (999) 999-99-99
          li
            a(href="mailto:sale@bochky.ru") sale@bochky.ru
          li
            a(href="#") МО, Мытищинский район, пос. Пирогово, ул. Труда, дом 2, 141033
  .footerBottom--container__second  
    p Политика конфиденциальности
    p Все права защищены
    p © ООО "Бани-бочки" 2009 - 2023
    
  