header.header
    .header--container
        .header--container__mobile 
            img(src="./images/catalogMenu.svg" alt="logo").header--catalogMenu__img 

        .header--container__logo 
            img(src="./images/logoMain.svg" alt="logo").header--logo__img 
        nav.header--container__nav 
            ul 
                li 
                    a(href="#") Продукция
                li 
                    a(href="#") О нас
                li 
                    a(href="#") Отзывы
                li 
                    a(href="#") Вдохновение
                li 
                    a(href="#") Полезности
                li 
                    a(href="#") Контакты
        .header--container__phoneNumber 
            a(href="tel:+7(495)517-21-36") +7(495)517-21-36

        .header--container__buttonCareService
            include ./components/buttonCareService.pug

        .header--container__buttonLocation
            include ./components/buttonLocation.pug
        
        .header--container__buttonUser
            include ./components/buttonUser.pug
