.inspiration 
  .inspirationContainer 
    h2 Вдохновение
    p Мы собрали самые интересные идеи от наших клиентов в одном месте, вы можете смотреть и вдохновляться ими, а так же – повторить.
    .inspirationContainer--cards 
      .inspirationContainer--cards__card 
        img(src="./images/feedBackFirst.svg", alt="feedBackFirst")
        .inspirationContainer--cards__card--text
          h4 Заголовок 
          p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip...
          .inspirationContainer--cards__card--text__buttonSecondary
            include ./components/buttonSecondary
            +buttonSecondary('Баня бочка #1')
            include ./components/buttonSecondary
            +buttonSecondary('Купель')
      .inspirationContainer--cards__card 
        img(src="./images/feedBackFirst.svg", alt="feedBackFirst")
        .inspirationContainer--cards__card--text
          h4 Заголовок 
          p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip...
          .inspirationContainer--cards__card--text__buttonSecondary
            include ./components/buttonSecondary
            +buttonSecondary('Баня бочка #1')
            include ./components/buttonSecondary
            +buttonSecondary('Купель')
      .inspirationContainer--cards__card 
        img(src="./images/feedBackFirst.svg", alt="feedBackFirst")
        .inspirationContainer--cards__card--text
          h4 Заголовок 
          p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip...
          .inspirationContainer--cards__card--text__buttonSecondary
            include ./components/buttonSecondary
            +buttonSecondary('Баня бочка #1')
            include ./components/buttonSecondary
            +buttonSecondary('Купель')
      .inspirationContainer--cards__card 
        img(src="./images/feedBackFirst.svg", alt="feedBackFirst")
        .inspirationContainer--cards__card--text
          h4 Заголовок 
          p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip...
          .inspirationContainer--cards__card--text__buttonSecondary
            include ./components/buttonSecondary
            +buttonSecondary('Баня бочка #1')
            include ./components/buttonSecondary
            +buttonSecondary('Купель')
