.manifest
  .manifest--container
    .manifest--container__content

      h3.main Группа компаний Bochky - международный бренд, созданный в России в 2009 году, флагман рынка производства быстровозводимых конструкций из древесины и сопутствующих товаров.
      .manifest--container__content--numbers
        ul
          li
            h3.counter(data-target="2009") 0
            h6 Год начала производства
            p Lorem ipsum dolor sit amet consec adipiscing elit, sed do eiusmodfds tempor incididunt ut labore dolore.
          li
            h3.counter(data-target="50") 0
            h6 Дилеров
            p Lorem ipsum dolor sit amet consec adipiscing elit, sed do eiusmodfds tempor incididunt ut labore dolore.
          li
            h3.counter(data-target="14600") 0
            h6 Бань было произведено
            p Lorem ipsum dolor sit amet consec adipiscing elit, sed do eiusmodfds tempor incididunt ut labore dolore.
          li
            h3.counter(data-target="11") 0
            h6 Стран мира
            p Lorem ipsum dolor sit amet consec adipiscing elit, sed do eiusmodfds tempor incididunt ut labore dolore.

    
