.modalProfile
    .modalProfile--back
    .modalProfile--window
        .modalProfile--window__content
                h3 Заказ успешно оформлен!
                p Мы свяжемся с вами в ближайшее время для уточнения информации.
                //- img(src="./images/closedIcon.svg", alt="closedIcon").close
                .modalProfile--window__content--buttons 
                  include ./components/buttonSecondary 
                  +buttonSecondary('Закрыть')
                  
                