.places
  .places--container 
    .places--container__content
      h2 Выставочные площадки
      p Наши выставочные площадки расположены в Х городах России, а так же в 11 странах мира
    img(src="./images/map.svg", alt="")