.questions 
  .questions--container 
    .questions--container__content
      h2 Ответы на вопросы и поддержка
      p Здесь вы можете прочитать самые часто задаваемые вопросы наших клиентов.
    .questions--container__accordion
      button.accordion Section 1
        div.panel
         p Lorem 
      button.accordion Section 2
        div.panel
          p Lorem i
      button.accordion Section 3
        div.panel
          p Lorem 