.questions 
  .questions--container 
    .questions--container__content
      h2 Ответы на вопросы и поддержка
      p Здесь вы можете прочитать самые часто задаваемые вопросы наших клиентов.
    .questions--container__accordion
      .questions--container__accordion--main
        .questions--container__accordion--main__item
          h2.accordion-header Заголовок 1
          img(src="./images/arrow1.png", alt="").accordion-icon
        p.accordion-content Содержимое 1 