.questions 
  .questions--container 
    .questions--container__content
      h2 Ответы на вопросы и поддержка
      p Здесь вы можете прочитать самые часто задаваемые вопросы наших клиентов.
    .questions--container__accordion
      .questions--container__accordion--main
        .questions--container__accordion--main__item
          h2.accordion-header В чем отличие стандартной комплектации от комплектации «Эко»?
          img(src="./images/arrow1.png", alt="").accordion-icon
        p.accordion-content Для многих наших моделей, помимо стандартной комплектации, представлена также комплектация «Эко» — ее можно выбрать при оформлении заказа на странице конкретной модели бани в разделе «Выберите комплектацию». 
        p.accordion-content Баня в комплектации «Эко» имеет ряд отличий от стандартной, что позволяет сделать ее не только экономичным, но и экологичным продуктом. Главным отличием «Эко»-бань является используемый материал – срощенная ель, обладающая более высокой прочностью и менее подверженная процессам гниения по сравнению с обычной елью. Внедрение срощенного материала в производственный процесс позволяет, в свою очередь, уменьшить отходы и максимально использовать наш ценный природный ресурс – древесину. 
        p.accordion-content Все «Эко»-бани комплектуются дровяной печью Grill’D Aurora Mini short black без сетки и бака, деревянными глухими дверями, полками из ели и оголовком-зонтом. Крулые, Квадро и Окта-бани серии «Эко» имеют укороченный козырек.
      
      .questions--container__accordion--main
        .questions--container__accordion--main__item
          h2.accordion-header В чем отличие срощенной древесины от обычной?
          img(src="./images/arrow1.png", alt="").accordion-icon
        p.accordion-content TEXT2
        
      .questions--container__accordion--main
        .questions--container__accordion--main__item
          h2.accordion-header Какой предел прочности используемых нержавеющих стяжек?
          img(src="./images/arrow1.png", alt="").accordion-icon
        p.accordion-content TEXT3

      .questions--container__accordion--main
        .questions--container__accordion--main__item
          h2.accordion-header Как осуществляется слив воды в бане-овалбочке?
          img(src="./images/arrow1.png", alt="").accordion-icon
        p.accordion-content TEXT4

      .questions--container__accordion--main
        .questions--container__accordion--main__item
          h2.accordion-header Можно ли париться в бане бочке зимой?
          img(src="./images/arrow1.png", alt="").accordion-icon
        p.accordion-content TEXT5
