.swiper
  .swiper-wrapper
    .swiper-slide 
      .contentSwiper
        img(src="./images/slide1.png" alt="slide1")
        .contentSwiper--container
          .contentSwiper--container__text
            h1 Бани бочки европейского качества от производителя
            p Производство бань-бочек, дачных домов, гриль домиков, беседок и оригинальных изделий из дерева
    .swiper-slide 
      .contentSwiper
        img(src="./images/slide1.png" alt="slide1")
        .contentSwiper--container
          .contentSwiper--container__text
            h1 Бани бочки европейского качества от производителя
            p Производство бань-бочек, дачных домов, гриль домиков, беседок и оригинальных изделий из дерева
    .swiper-slide 
      .contentSwiper
        img(src="./images/slide1.png" alt="slide1")
        .contentSwiper--container
          .contentSwiper--container__text
            h1 Бани бочки европейского качества от производителя
            p Производство бань-бочек, дачных домов, гриль домиков, беседок и оригинальных изделий из дерева
    .swiper-slide 
      .contentSwiper
        img(src="./images/slide1.png" alt="slide1")
        .contentSwiper--container
          .contentSwiper--container__text
            h1 Бани бочки европейского качества от производителя
            p Производство бань-бочек, дачных домов, гриль домиков, беседок и оригинальных изделий из дерева
    .swiper-slide 
      .contentSwiper
        img(src="./images/slide1.png" alt="slide1")
        .contentSwiper--container
          .contentSwiper--container__text
            h1 Бани бочки европейского качества от производителя
            p Производство бань-бочек, дачных домов, гриль домиков, беседок и оригинальных изделий из дерева
  .contentSwiper--buttonCareService
    include ./components/buttonCareService.pug
  .swiper-pagination-vertical.swiper-pagination-bullets



