doctype html
html.no-js(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='x-ua-compatible' content='ie=edge')
    title Bochky
    link( rel="icon" href="./images/favicon.ico" type="image/x-icon")
    meta(name='description' content='Track, trade, discover, analyse, share and more all on one platform')
    meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')

  body

    //- Header 
    include ../includes/header.pug
    include ../includes/slideShow.pug
    include ../includes/manifest.pug
    include ../includes/products.pug
    include ../includes/application.pug
    include ../includes/feedBack.pug
    include ../includes/questions.pug
    include ../includes/places.pug
    include ../includes/footerBottom.pug