.breadCrumbs
  margin: 50px 30px 30px 30px
  &--text
    display: flex
    margin: 50px auto 30px auto
    gap: 5px
    max-width: 1440px
    p
      font-family: 'Gilroy'
      font-style: normal
      font-weight: 400
      font-size: 16px
      line-height: 150%
    .active
        color: #F03F29
        cursor: pointer
    .symbol 
        color: #000
    .passive 
        color: #000


  