.capacity
  background-color: #fff
  margin-bottom: 100px
  &--container 
    max-width: 1440px
    margin: 0 auto
    &__content
      &--main
        display: flex
        justify-content: space-between
        &__text
          max-width: 978px
          h2 
            color: #000
            font-size: 50px
            font-family: Gilroy
            font-weight: 500
            margin-bottom: 28px
          p 
            color: #000
            font-size: 16px
            font-family: Gilroy
            font-weight: 400
        &__containerButton
          margin-top: 9px
      &--cards 
        grid-template-columns: 1fr 1fr 1fr
        display: grid
        gap: 27px
        margin-top: 38px
        &__bathhouseBarrel
          border: 1px solid #8F8F8F
          border-radius: 25px
          background-color: #F5F5F5
          cursor: pointer
          img
            width: 100%
          &--text
            max-width: 416px
            margin: 20px
            display: flex
            flex-direction: row
            justify-content: space-between
            h4 
              font-family: 'Gilroy'
              font-style: normal
              font-weight: 600
              font-size: 30px
              line-height: 130%
              color: #000000
            img
              max-width: 79px
              
        &__grillHouse
          border: 1px solid #8F8F8F
          border-radius: 25px
          background-color: #F5F5F5
          cursor: pointer
          img
            width: 100%
          &--text
            max-width: 416px
            margin: 20px
            display: flex
            flex-direction: row
            justify-content: space-between
            h4 
              color: #000
              font-family: Gilroy
              font-weight: 600
            img
              max-width: 79px
              
        &__kempings
          border: 1px solid #8F8F8F
          border-radius: 25px
          background-color: #F5F5F5
          cursor: pointer
          img
            width: 100%
          &--text
            max-width: 416px
            margin: 20px
            display: flex
            flex-direction: row
            justify-content: space-between
            h4 
              color: #000
              font-family: Gilroy
              font-weight: 600
            img
              max-width: 79px
        