.chooseForm
  background-color: #fff
  margin: 0 30px
  margin-bottom: 100px
  @media (max-width: 768px)
    margin: 0 16px 50px
  &--container
    max-width: 1440px
    margin: 0 auto
    &__content
      &--main
        display: flex
        justify-content: space-between
        &__text
          max-width: 1021px
          h2
            color: #000
            font-size: 50px
            font-family: Gilroy
            font-weight: 500
            margin-bottom: 28px
            @media (max-width: 768px)
              font-weight: 700
              font-size: 22px
              line-height: 27px
              max-width: 250px
              margin-bottom: 15px
          p
            color: #000
            font-size: 16px
            font-family: Gilroy
            font-weight: 400
            @media (max-width: 768px)
              font-size: 14px
              line-height: 150%
      &--cards
        grid-template-columns: 1fr 1fr 1fr
        display: grid
        gap: 27px
        margin-top: 38px
        @media (max-width: 768px)
          grid-template-columns: 1fr
        &__one
          border: 1px solid #8F8F8F
          border-radius: 25px
          background-color: #F5F5F5
          cursor: pointer
          img
            width: 100%
          &--text
            max-width: 416px
            margin: 20px
            display: flex
            flex-direction: row
            justify-content: space-between
            align-items: center
            h4
              font-family: 'Gilroy'
              font-style: normal
              font-weight: 600
              font-size: 30px
              line-height: 130%
              color: #000000
              @media (max-width: 768px)
                font-weight: 500
                font-size: 22px
            img
              max-width: 121px

        &__two
          border: 1px solid #8F8F8F
          border-radius: 25px
          background-color: #F5F5F5
          cursor: pointer
          img
            width: 100%
          &--text
            max-width: 416px
            margin: 20px
            display: flex
            flex-direction: row
            justify-content: space-between
            align-items: center
            h4
              color: #000
              font-family: Gilroy
              font-weight: 600
              @media (max-width: 768px)
                font-weight: 500
                font-size: 22px
            img
              max-width: 121px

        &__three
          border: 1px solid #8F8F8F
          border-radius: 25px
          background-color: #F5F5F5
          cursor: pointer
          img
            width: 100%
          &--text
            max-width: 416px
            margin: 20px
            display: flex
            flex-direction: row
            justify-content: space-between
            align-items: center
            h4
              color: #000
              font-family: Gilroy
              @media (max-width: 768px)
                font-weight: 500
                font-size: 22px
              
            img
              max-width: 121px
        &__four
          border: 1px solid #8F8F8F
          border-radius: 25px
          background-color: #F5F5F5
          cursor: pointer
          img
            width: 100%
          &--text
            max-width: 416px
            margin: 20px
            display: flex
            flex-direction: row
            justify-content: space-between
            align-items: center
            h4
              color: #000
              font-family: Gilroy
              font-weight: 600
              @media (max-width: 768px)
                font-weight: 500
                font-size: 22px
            img
              max-width: 121px
        &__five
          border: 1px solid #8F8F8F
          border-radius: 25px
          background-color: #F5F5F5
          cursor: pointer
          img
            width: 100%
          &--text
            max-width: 416px
            margin: 20px
            display: flex
            flex-direction: row
            justify-content: space-between
            align-items: center
            h4
              color: #000
              font-family: Gilroy
              font-weight: 600
              @media (max-width: 768px)
                font-weight: 500
                font-size: 22px
            img
              max-width: 121px
        &__six
          border: 1px solid #8F8F8F
          border-radius: 25px
          background-color: #F5F5F5
          cursor: pointer
          img
            width: 100%
          &--text
            max-width: 416px
            margin: 20px
            display: flex
            flex-direction: row
            justify-content: space-between
            align-items: center

            h4
              color: #000
              font-family: Gilroy
              font-weight: 600
              @media (max-width: 768px)
                font-weight: 500
                font-size: 22px
            img
              max-width: 121px

        // &__seven
        //   border: 1px solid #8F8F8F
        //   border-radius: 25px
        //   background-color: #F5F5F5
        //   cursor: pointer
        //   img
        //     width: 100%
        //   &--text
        //     max-width: 416px
        //     margin: 20px
        //     display: flex
        //     flex-direction: row
        //     justify-content: space-between
        //     h4 
        //       color: #000
        //       font-family: Gilroy
        //       font-weight: 600
        //     img
        //       max-width: 121px
