@use "~sass-rem" as rem
@use "../config/helpers" as h

.header
    background-color: #242424

    &--container
        max-width: 1440px
        display: flex
        max-height: 84px
        justify-content: space-between
        margin: auto
        padding-right: 32px
        &__logo
            &--img
                width: 120px
                height: 84px
                background-color: #F03F29
        &__nav
            margin: auto 0

            ul
                display: flex
                gap: 40px
                li
                    a
                        font-size: 14px
                        font-family: Gilroy
                        font-weight: 400
                        color: #fff
        
        &__phoneNumber 
            margin: auto 0

            a
                color: #fff
                font-size: 24px
                font-family: Gilroy
                font-weight: 700
        &__buttonCareService
            margin: auto 0

            
        &__buttonLocation
            margin: auto 0

        
        &__buttonUser
            margin: auto 0

