.manifest
    background-color: #F7FAFC
    .manifest--container
        .manifest--container__content
        h3.main 
            font-family: 'Gilroy'
            font-style: normal
            font-weight: 400
            font-size: 25px
            line-height: 150%
            display: flex
            align-items: center
            text-align: center
            color: #1C1C1C
        .manifest--container__content--numbers
            ul
            li
                h3 
                    font-family: 'Gilroy'
                    font-style: normal
                    font-weight: 600
                    font-size: 110px
                    line-height: 150%
                    display: flex
                    align-items: center
                    text-align: center
                    color: #F03F29
                h6 
                    font-family: 'Gilroy'
                    font-style: normal
                    font-weight: 500
                    font-size: 25px
                    line-height: 150%
                    text-align: center
                    color: #1C1C1C
                    max-width: 306px
                p 
                    font-family: 'Gilroy'
                    font-style: normal
                    font-weight: 400
                    font-size: 18px
                    line-height: 150%
                    display: flex
                    align-items: center
                    text-align: center
                    color: #1C1C1C
                    max-width: 320px
